<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serverSection" type="MyServiceLibrary.CustomSection.ConnectionSection, MyServiceLibrary"/>
  </configSections>
  <serverSection>
    <Servers>
      <Element ip="127.0.0.1" port="11000"/>
      <Element ip="127.0.0.1" port="11001"/>
      <Element ip="127.0.0.1" port="11002"/>
    </Servers>
  </serverSection>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="WcfUserStorageService.SlaveService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfUserStorageService.ISlaveService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfUserStorageService/Slave/" />
          </baseAddresses>
        </host>
      </service>
      <service name="WcfUserStorageService.MasterService">
        <endpoint address="" binding="basicHttpBinding" contract="WcfUserStorageService.IMasterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfUserStorageService/Master/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
